<br>
<br>
<br>
<br>
<h1>List of islands</h1>

<table data-controller="hello">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Description</th>
      <th>Price per day</th>
      <th>Avilable?</th>
      <th>Size</th>
    </tr>
  </thead>

  <tbody>
    <% @islands.each do |island| %>
      <tr>
        <td><%= link_to island.name, island_path(island) %></td>
        <td><%= island.country %></td>
        <td><%= island.description %></td>
        <td><%= island.price_per_day %></td>
        <td><%= island.avilable %></td>
        <td><%= island.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Create a new island', new_island_path %>
<%= link_to 'Dashboard', dashboard_path %>
