<h1><%= @island.name %></h1>
<br>
<h4>lays in the country: <%= @island.country %></h4>
<h4>description: <%= @island.description %></h4>
<h4>price per day: <%= @island.price_per_day %> $</h4>
<h4>is it avilable? <%= @island.avilable %></h4>
<h4>size: <%= @island.size %> cm</h4>
<br>
<% if current_user == @island.user %>
  <%= link_to 'Delete', island_path(@island), method: :delete, data: {confirm: 'confirm delete'} %>
<% end %>

<%= link_to 'Back', islands_path %>
