<<<<<<< HEAD
<div class="islandesc">
  <h1><strong><%= @island.name %></strong></h1>
  <div class="descitems">
  <img src="https://media.nationalgeographic.org/assets/photos/000/268/26833.jpg" class="spic">
  <div>
    <img src="https://www.treehugger.com/thmb/c8YBoBZfJLKUPGlFaQ7RT7J6xNA=/3840x2160/filters:fill(auto,1)/GettyImages-1296713537-aec94fc7c0154ed5812d2017e856f8d7.jpg" class="spic1">
    <img src="https://cdn.cnn.com/cnnnext/dam/assets/180219103122-zanzibar-and-its-islands---mnemba-a-view-from-the-sky-mnemba-island-lodge.jpg" class="spic2">
  <div>
  </div>
  </div>
  </div>
    <div>
  <h5 class="ititle">
    <strong><%= @island.name %>, <%= @island.country %></strong>
    <p>$<%= @island.price_per_day %> Per Day, <%= @island.size %>sq</p>
      <%# <strong>Country:</strong> <%= @island.country %> <%#%>
      <center style="color: black;" class="description">
      <strong>• Description</strong>
      <br>
      <%= @island.description %>
      </center>
      <%# <strong>Price per day:</strong> <%= @island.price_per_day %> <%#%>
      <%# <strong>Is it avilable?</strong> <%= @island.avilable %> <%#%>
      <%# <strong>Size:</strong> <%= @island.size %> <%#%>
    </div>
</div>
=======
<h1><%= @island.name %></h1>
<br>
<h4>Is in the country: <%= @island.territory %></h4>
<h4>Description: <%= @island.description %></h4>
<h4>Price per day: <%= @island.price_per_day %> $</h4>
<h4>Is it avilable? <%= @island.avilable %></h4>
<h4>Size: <%= @island.size %> cm</h4>
<br>
>>>>>>> main
<%# dose'nt ask me if i'm sure %>
<div class="islandact">
  <% if current_user == @island.user %>
    <%= button_to 'Delete', island_path(@island), method: :delete, data: {confirm: 'confirm delete'} %>
  <% end %>

  <% if current_user != @island.user %>
    <%=simple_form_for [@island, @booking] do |f|  %>
      <%=f.input :start_date  %>
      <%=f.input :end_date %>
      <%=f.input :comment %>
      <%=f.submit %>
    <% end %>
  <% end %>


    <button class="btn2"><%= link_to 'Back', islands_path %></button>
</div>
