<div class="container">
  <h1 style="text-align: center; color: black;"><strong><%= @island.name %></strong></h1>

  <div class="show-page-images">
    <% if @island.main_photo.present? %>
      <%= cl_image_tag @island.main_photo.key, class: "show-page-image-left" %>
    <% else %>
      <img src="https://media.nationalgeographic.org/assets/photos/000/268/26833.jpg" class="show-page-image-left">
    <% end  %>

    <div class="show-page-images-right">
      <% if @island.photos.present? %>
        <% n = @island.photos.length %>
        <% @island.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: "show-page-image-right" %>
          <% end %>
          <% if n < 4 %>
            <% Island::PHOTOS[n...4].each do |photo| %>
              <%= image_tag photo, class: "show-page-image-right" %>
            <% end  %>
          <% end  %>
      <% else %>
        <% Island::PHOTOS.each do |photo| %>
          <%= image_tag photo, class: "show-page-image-right" %>
        <% end  %>
      <% end %>
    </div>
  </div>

    <div>
  <h5 class="ititle">
    <strong><%= @island.name %>, <%= @island.territory %></strong>
    <p>$<%= @island.price_per_day %> Per Day, <%= @island.size %>sq</p>
      <%# <strong>Country:</strong> <%= @island.country %> <%#%>
      <center style="color: black;" class="description">
      <strong>• Description</strong>
      <br>
      <%= @island.description %>
      </center>
      <%# <strong>Price per day:</strong> <%= @island.price_per_day %> <%#%>
      <%# <strong>Is it avilable?</strong> <%= @island.avilable %> <%#%>
      <%# <strong>Size:</strong> <%= @island.size %> <%#%>
    </div>
</div>

<%# dose'nt ask me if i'm sure %>
<div class="islandact">
  <% if current_user == @island.user %>
    <%= button_to 'Delete', island_path(@island), method: :delete, data: {confirm: 'confirm delete'}, class: "btn1" %>
  <% end %>

  <% if current_user != @island.user %>
    <%=simple_form_for [@island, @booking] do |f|  %>
      <%=f.input :start_date  %>
      <%=f.input :end_date %>
      <%=f.input :comment %>
      <%=f.submit %>
    <% end %>
  <% end %>


    <button class="btn2" style="margin-left: 10px;"><%= link_to 'Back', islands_path %></button>
</div>
</div>
